body{
    background-image: url(./desktop-wallpaper-employee-management-systems-consulting-employee.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size:30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
ul{
    list-style-type: none;
    margin: -8px;   
    padding: 1px;
    overflow: hidden;  
    background-color: #333;
}
li{
    float:left;
}
li a{
    display: block;
    padding: 10px;
    color: white;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
}
li a:hover{
    background-color: #a1c068;
    font-size:5px;
}
